# Hide sensitive environment variables
.env

# Python cache and bytecode
__pycache__/
*.py[cod]

# VS Code settings (optional)
.vscode/

# Streamlit & local logs
.streamlit/

# PDF/Build artifacts
*.pdf
*.log
*.aux
*.out

# Environment folders
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints

# Test/cache files
.pytest_cache/
.mypy_cache/
.dmypy.json

# Others
.DS_Store
*.egg-info/
